autograd==1.3
chardet==3.0.4
econml==0.7.0
joblib==0.15.1
Keras==2.3.1
matplotlib==3.2.1
numpy==1.18.1
pandas==1.1.0
paramz==0.9.5
patsy==0.5.1
py==1.9.0
rpy2==3.3.5
rsa==4.6
scikit-learn==0.21.3
scipy==1.4.1
sparse==0.10.0
statsmodels==0.11.1
tabulate==0.8.7
tensorflow==2.5.3
torch==1.5.0
